@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #2A303C;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.input-field {
  position: relative;
}

.input-field input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #554F95;
  background: transparent;
  color: #fff;
  outline: none;
  transition: .3s;
  color-scheme: dark
}

.input-field label {
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #282828
}